.number-field {
    position: relative;
    width: 100%;
}

.number-field-input {
    width: 100%;
}

.number-field-input.has-unit {
    padding-right: 20px;
}

.number-field-unit {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: var(--framer-color-text-tertiary);
    pointer-events: none;
}
